Server/Alfresco/CATServerWebServices/source/wsdl/harvest-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="harvest-service"
   targetNamespace="http://www.pnl.gov/cat/ws/service/harvest/1.0"
   xmlns:apachesoap="http://xml.apache.org/xml-soap" 
   xmlns:harvest="http://www.pnl.gov/cat/ws/service/harvest/1.0"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:cms="http://www.alfresco.org/ws/model/content/1.0"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   
   <!-- ************************************** -->
   <!-- Copyright Alfresco Software, Inc. 2005 -->
   <!-- ************************************** -->
   <wsdl:import namespace="http://www.alfresco.org/ws/model/content/1.0" location="../wsdl/types.xsd"/>
   <wsdl:types>
      <schema elementFormDefault="qualified" targetNamespace="http://www.pnl.gov/cat/ws/service/harvest/1.0" xmlns="http://www.w3.org/2001/XMLSchema">

         <!-- Type Definitions -->  
         <complexType name="HarvestRequest">
         	<sequence>
         		<element name="harvestTemplateId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         		<element name="parameters" type="cms:NamedValue" minOccurs="0" maxOccurs="unbounded" />
         		<element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         		<element name="repositoryPath" type="xsd:string" minOccurs="0" maxOccurs="1" />
         		<element name="uuid" type="xsd:string" />
         	</sequence>
         </complexType>
         
         <complexType name="HarvestFault">
            <sequence>
               <element name="errorCode" type="xsd:int"/>
               <element name="message" type="xsd:string"/>
            </sequence>
         </complexType>
         
         <element name="HarvestFault" type="harvest:HarvestFault"/>
         
         <!-- Method Definitions -->         
         <element name="createHarvestRequest">
            <complexType>
               <sequence>
                  <element name="harvestTemplateId" type="xsd:string"/>
                  <element name="parameters" type="cms:NamedValue" minOccurs="0" maxOccurs="unbounded"/>
               </sequence>
            </complexType>
         </element>
         
         <element name="createHarvestRequestResponse">
         	<complexType>
               <sequence>
                  <element name="harvestRequest" type="harvest:HarvestRequest"/>
               </sequence>
            </complexType>
         </element>
         
         <element name="getHarvestRequests">
         	<complexType />
         </element>
         
         <element name="getHarvestRequestsResponse">
         	<complexType>
               <sequence>
                  <element name="harvestRequest" type="harvest:HarvestRequest" minOccurs="0" maxOccurs="unbounded" />
               </sequence>
            </complexType>
         </element>
           
       </schema>
   </wsdl:types>
   
   <!-- Message definitions -->
   
   <wsdl:message name="createHarvestRequestRequest">
      <wsdl:part element="harvest:createHarvestRequest" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="createHarvestRequestResponse">
      <wsdl:part element="harvest:createHarvestRequestResponse" name="parameters"/>
   </wsdl:message> 
   
    <wsdl:message name="getHarvestRequestsRequest">
      <wsdl:part element="harvest:getHarvestRequests" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="getHarvestRequestsResponse">
      <wsdl:part element="harvest:getHarvestRequestsResponse" name="parameters"/>
   </wsdl:message> 
   
   <wsdl:message name="HarvestFault">
      <wsdl:part element="harvest:HarvestFault" name="fault"/>
   </wsdl:message>
   
   <!-- Port and binding definitions -->
   
   <wsdl:portType name="HarvestServiceSoapPort">
      <wsdl:operation name="createHarvestRequest">
         <wsdl:documentation>Creates a new Harvest Request.</wsdl:documentation>
         <wsdl:input message="harvest:createHarvestRequestRequest" name="createHarvestRequestRequest"/>
         <wsdl:output message="harvest:createHarvestRequestResponse" name="createHarvestRequestResponse"/>
         <wsdl:fault message="harvest:HarvestFault" name="HarvestFault"/>
      </wsdl:operation>     

      <wsdl:operation name="getHarvestRequests">
        <wsdl:documentation>Gets all Harvest Requests for the current user.</wsdl:documentation>
        <wsdl:input message="harvest:getHarvestRequestsRequest" name="getHarvestRequestsRequest"/>
        <wsdl:output message="harvest:getHarvestRequestsResponse" name="getHarvestRequestsResponse"/>
        <wsdl:fault message="harvest:HarvestFault" name="HarvestFault"/>
     </wsdl:operation>      
  </wsdl:portType>
   
   <wsdl:binding name="HarvestServiceSoapBinding" type="harvest:HarvestServiceSoapPort">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="createHarvestRequest">
         <wsdlsoap:operation soapAction="http://www.pnl.gov/cat/ws/service/harvest/1.0/createHarvestRequest"/>
         <wsdl:input>
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="HarvestFault">
            <wsdlsoap:fault namespace="http://www.pnl.gov/cat/ws/service/harvest/1.0" use="literal" name="HarvestFault"/>
         </wsdl:fault>
      </wsdl:operation> 

      <wsdl:operation name="getHarvestRequests">
        <wsdlsoap:operation soapAction="http://www.pnl.gov/cat/ws/service/harvest/1.0/getHarvestRequests"/>
        <wsdl:input>
           <wsdlsoap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
           <wsdlsoap:body use="literal"/>
        </wsdl:output>
        <wsdl:fault name="HarvestFault">
           <wsdlsoap:fault namespace="http://www.pnl.gov/cat/ws/service/harvest/1.0" use="literal" name="HarvestFault"/>
        </wsdl:fault>
     </wsdl:operation> 
    </wsdl:binding>

	<!-- Service definition -->
	
    <wsdl:service name="HarvestService">
       <wsdl:documentation>Harvest service for managing web harvests.</wsdl:documentation>
       <wsdl:port binding="harvest:HarvestServiceSoapBinding" name="HarvestService">
          <wsdlsoap:address location="http://localhost:8080/alfresco/api/HarvestService"/>
       </wsdl:port>
    </wsdl:service>

</wsdl:definitions>