Server/Alfresco/CATServerWebServices/source/wsdl/user-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="user-service"
   targetNamespace="http://www.pnl.gov/cat/ws/service/user/1.0"
   xmlns:apachesoap="http://xml.apache.org/xml-soap" 
   xmlns:user="http://www.pnl.gov/cat/ws/service/user/1.0"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:cms="http://www.alfresco.org/ws/model/content/1.0"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   
   <!-- ************************************** -->
   <!-- Copyright Alfresco Software, Inc. 2005 -->
   <!-- ************************************** -->
   <wsdl:import namespace="http://www.alfresco.org/ws/model/content/1.0" location="../wsdl/types.xsd"/>
   <wsdl:types>
      <schema elementFormDefault="qualified" targetNamespace="http://www.pnl.gov/cat/ws/service/user/1.0" xmlns="http://www.w3.org/2001/XMLSchema">

         <!-- Type Definitions -->

         <complexType name="UserDetails">
            <sequence>
               <element name="userName" type="xsd:string"/>
               <element name="properties" type="cms:NamedValue" maxOccurs="unbounded" minOccurs="0"/>
               <element name="admin" type="xsd:boolean"/>
            </sequence>
         </complexType>
         <element name="UserDetails" type="user:UserDetails"/>

         <complexType name="UserFilter">
            <sequence>
               <element name="userName" type="xsd:string"/>
            </sequence>
         </complexType>
         <element name="UserFilter" type="user:UserFilter"/>

         <complexType name="UserQueryResults">
            <sequence>
               <element name="querySession" type="xsd:string" nillable="true"/>
               <element name="userDetails" type="user:UserDetails" maxOccurs="unbounded" minOccurs="0"/>
            </sequence>
         </complexType>
         <element name="UserQueryResults" type="user:UserQueryResults"/>

         <complexType name="NewUserDetails">
            <sequence>
               <element name="userName" type="xsd:string"/>
               <element name="password" type="xsd:string"/>
               <element name="properties" type="cms:NamedValue" maxOccurs="unbounded" minOccurs="0"/>
            </sequence>
         </complexType>
         <element name="NewUserDetails" type="user:NewUserDetails"/>              

         <complexType name="AdministrationFault">
            <sequence>
               <element name="errorCode" type="xsd:int"/>
               <element name="message" type="xsd:string"/>
            </sequence>
         </complexType>
         <element name="AdministrationFault" type="user:AdministrationFault"/>
         
         <!-- Method Definitions -->
         
         <element name="queryUsers">
            <complexType>
               <sequence>
                  <element name="filter" type="user:UserFilter"/>
               </sequence>
            </complexType>
         </element>

         <element name="queryUsersResponse">
            <complexType>
               <sequence>
                  <element name="result" type="user:UserQueryResults"/>
               </sequence>
            </complexType>
         </element>
         
         <element name="fetchMoreUsers">
            <complexType>
               <sequence>
                  <element name="querySession" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>

         <element name="fetchMoreUsersResponse">
            <complexType>
               <sequence>
                  <element name="result" type="user:UserQueryResults"/>
               </sequence>
            </complexType>
         </element>
         
         <element name="getUser">
            <complexType>
               <sequence>
                  <element name="userName" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>

         <element name="getUserResponse">
            <complexType>
               <sequence>
                  <element name="result" type="user:UserDetails"/>
               </sequence>
            </complexType>
         </element>
         
         <element name="createUsers">
            <complexType>
               <sequence>
                  <element name="newUsers" type="user:NewUserDetails" maxOccurs="unbounded" minOccurs="0"/>
               </sequence>
            </complexType>
         </element>

         <element name="createUsersResponse">
            <complexType>
               <sequence>
                  <element name="result" type="user:UserDetails" maxOccurs="unbounded" minOccurs="0"/>
               </sequence>
            </complexType>
         </element>
         
         <element name="updateUsers">
            <complexType>
               <sequence>
                  <element name="users" type="user:UserDetails" maxOccurs="unbounded" minOccurs="0"/>
               </sequence>
            </complexType>
         </element>

         <element name="updateUsersResponse">
            <complexType>
               <sequence>
                  <element name="result" type="user:UserDetails" maxOccurs="unbounded" minOccurs="0"/>
               </sequence>
            </complexType>
         </element>
         
         <element name="changePassword">
            <complexType>
               <sequence>
                  <element name="userName" type="xsd:string"/>
                  <element name="currentPassword" type="xsd:string"/>
                  <element name="newPassword" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>

         <element name="changePasswordResponse">
            <complexType>
               <sequence/>
            </complexType>
         </element>
         
         <element name="deleteUsers">
            <complexType>
               <sequence>
                  <element name="userNames" type="xsd:string" maxOccurs="unbounded" minOccurs="0"/>
               </sequence>
            </complexType>
         </element>

         <element name="deleteUsersResponse">
            <complexType>
               <sequence/>
            </complexType>
         </element>

      </schema>
   </wsdl:types>
   
   <!-- Message definitions -->
   
   <wsdl:message name="queryUsersRequest">
      <wsdl:part element="user:queryUsers" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="queryUsersResponse">
      <wsdl:part element="user:queryUsersResponse" name="parameters"/>
   </wsdl:message>
   
   <wsdl:message name="fetchMoreUsersRequest">
      <wsdl:part element="user:fetchMoreUsers" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="fetchMoreUsersResponse">
      <wsdl:part element="user:fetchMoreUsersResponse" name="parameters"/>
   </wsdl:message>
   
   <wsdl:message name="getUserRequest">
      <wsdl:part element="user:getUser" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="getUserResponse">
      <wsdl:part element="user:getUserResponse" name="parameters"/>
   </wsdl:message>
   
   <wsdl:message name="createUsersRequest">
      <wsdl:part element="user:createUsers" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="createUsersResponse">
      <wsdl:part element="user:createUsersResponse" name="parameters"/>
   </wsdl:message>
   
   <wsdl:message name="updateUsersRequest">
      <wsdl:part element="user:updateUsers" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="updateUsersResponse">
      <wsdl:part element="user:updateUsersResponse" name="parameters"/>
   </wsdl:message>
   
   <wsdl:message name="changePasswordRequest">
      <wsdl:part element="user:changePassword" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="changePasswordResponse">
      <wsdl:part element="user:changePasswordResponse" name="parameters"/>
   </wsdl:message>
   
   <wsdl:message name="deleteUsersRequest">
      <wsdl:part element="user:deleteUsers" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="deleteUsersResponse">
      <wsdl:part element="user:deleteUsersResponse" name="parameters"/>
   </wsdl:message>
   
   <wsdl:message name="AdministrationFault">
      <wsdl:part element="user:AdministrationFault" name="fault"/>
   </wsdl:message>
   
   <!-- Port and binding definitions -->
   
   <wsdl:portType name="UserServiceSoapPort">
      <wsdl:operation name="queryUsers">
         <wsdl:documentation>Gets the details of the requested users.</wsdl:documentation>
         <wsdl:input message="user:queryUsersRequest" name="queryUsersRequest"/>
         <wsdl:output message="user:queryUsersResponse" name="queryUsersResponse"/>
         <wsdl:fault message="user:AdministrationFault" name="AdministrationFault"/>
      </wsdl:operation>
      <wsdl:operation name="fetchMoreUsers">
         <wsdl:documentation>Fetch the next bathc of users from an existing user query.</wsdl:documentation>
         <wsdl:input message="user:fetchMoreUsersRequest" name="fetchMoreUsersRequest"/>
         <wsdl:output message="user:fetchMoreUsersResponse" name="fetchMoreUsersResponse"/>
         <wsdl:fault message="user:AdministrationFault" name="AdministrationFault"/>
      </wsdl:operation>
      <wsdl:operation name="getUser">
         <wsdl:documentation>Get the details of a specified user.</wsdl:documentation>
         <wsdl:input message="user:getUserRequest" name="getUserRequest"/>
         <wsdl:output message="user:getUserResponse" name="getUserResponse"/>
         <wsdl:fault message="user:AdministrationFault" name="AdministrationFault"/>
      </wsdl:operation>
      <wsdl:operation name="createUsers">
         <wsdl:documentation>Create new users with the details provided.</wsdl:documentation>
         <wsdl:input message="user:createUsersRequest" name="createUsersRequest"/>
         <wsdl:output message="user:createUsersResponse" name="createUsersResponse"/>
         <wsdl:fault message="user:AdministrationFault" name="AdministrationFault"/>
      </wsdl:operation>
      <wsdl:operation name="updateUsers">
         <wsdl:documentation>Updates the details of the specified users.</wsdl:documentation>
         <wsdl:input message="user:updateUsersRequest" name="updateUsersRequest"/>
         <wsdl:output message="user:updateUsersResponse" name="updateUsersResponse"/>
         <wsdl:fault message="user:AdministrationFault" name="AdministrationFault"/>
      </wsdl:operation>
      <wsdl:operation name="changePassword">
         <wsdl:documentation>Changes the password of the specified user.</wsdl:documentation>
         <wsdl:input message="user:changePasswordRequest" name="changePasswordRequest"/>
         <wsdl:output message="user:changePasswordResponse" name="changePasswordResponse"/>
         <wsdl:fault message="user:AdministrationFault" name="AdministrationFault"/>
      </wsdl:operation>
      <wsdl:operation name="deleteUsers">
         <wsdl:documentation>Delete the specified users.</wsdl:documentation>
         <wsdl:input message="user:deleteUsersRequest" name="deleteUsersRequest"/>
         <wsdl:output message="user:deleteUsersResponse" name="deleteUsersResponse"/>
         <wsdl:fault message="user:AdministrationFault" name="AdministrationFault"/>
      </wsdl:operation>
   </wsdl:portType>
   
   <wsdl:binding name="UserServiceSoapBinding" type="user:UserServiceSoapPort">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="queryUsers">
         <wsdlsoap:operation soapAction="http://www.pnl.gov/cat/ws/service/user/1.0/queryUsers"/>
         <wsdl:input>
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="AdministrationFault">
            <wsdlsoap:fault namespace="http://www.pnl.gov/cat/ws/service/user/1.0" use="literal" name="AdministrationFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="fetchMoreUsers">
         <wsdlsoap:operation soapAction="http://www.pnl.gov/cat/ws/service/user/1.0/fetchMoreUsers"/>
         <wsdl:input>
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="AdministrationFault">
            <wsdlsoap:fault namespace="http://www.pnl.gov/cat/ws/service/user/1.0" use="literal" name="AdministrationFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getUser">
         <wsdlsoap:operation soapAction="http://www.pnl.gov/cat/ws/service/user/1.0/getUser"/>
         <wsdl:input>
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="AdministrationFault">
            <wsdlsoap:fault namespace="http://www.pnl.gov/cat/ws/service/user/1.0" use="literal" name="AdministrationFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="createUsers">
         <wsdlsoap:operation soapAction="http://www.pnl.gov/cat/ws/service/user/1.0/createUsers"/>
         <wsdl:input>
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="AdministrationFault">
            <wsdlsoap:fault namespace="http://www.pnl.gov/cat/ws/service/user/1.0" use="literal" name="AdministrationFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="updateUsers">
         <wsdlsoap:operation soapAction="http://www.pnl.gov/cat/ws/service/user/1.0/updateUsers"/>
         <wsdl:input>
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="AdministrationFault">
            <wsdlsoap:fault namespace="http://www.pnl.gov/cat/ws/service/user/1.0" use="literal" name="AdministrationFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="changePassword">
         <wsdlsoap:operation soapAction="http://www.pnl.gov/cat/ws/service/user/1.0/changePassword"/>
         <wsdl:input>
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="AdministrationFault">
            <wsdlsoap:fault namespace="http://www.pnl.gov/cat/ws/service/user/1.0" use="literal" name="AdministrationFault"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="deleteUsers">
         <wsdlsoap:operation soapAction="http://www.pnl.gov/cat/ws/service/user/1.0/deleteUsers"/>
         <wsdl:input>
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="AdministrationFault">
            <wsdlsoap:fault namespace="http://www.pnl.gov/cat/ws/service/user/1.0" use="literal" name="AdministrationFault"/>
         </wsdl:fault>
      </wsdl:operation>      
    </wsdl:binding>

	<!-- Service definition -->
	
    <wsdl:service name="UserService">
       <wsdl:documentation>User service.</wsdl:documentation>
       <wsdl:port binding="user:UserServiceSoapBinding" name="UserService">
          <wsdlsoap:address location="http://localhost:8080/alfresco/api/UserService"/>
       </wsdl:port>
    </wsdl:service>

</wsdl:definitions>